*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html,
body,
#app {
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  line-height: 1.6;
  font-size: 1.6rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  background-image: $bg-img;
  background-color: $bg-color;
}

img {
  max-width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
}

hr {
  margin-bottom: 1.5rem;
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4), transparent);
  background-color: transparent;
  height: 0.1rem;
  opacity: 0.25;
  border: 0;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.card {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: $white-color;
}
