:root {
  --body-color: #ddd;
  --main-color: #12a182;
  --logo-color: #fff;
  --sub-color: #f9a647;
  --aside-text-color: #fff;

  --bg-image: url(http://zhongguose.com/img/texture.png);
  // element
  --el-menu-bg-color: $main-color;
  --el-menu-text-color: $aside-text-color;
  --el-menu-hover-bg-color: var(--sub-color);
  --el-menu-active-color: var(--sub-color);
}

$main-color: var(--main-color);
$sub-color: var(--sub-color);
$aside-text-color: var(--aside-text-color);