:root {
  --body-color: #f9f9fb;

  --aside-bg-color: #3a3f47;
  --aside-text-color: #fff;

  --primary-color: #01adb5;
  --primary-light-1: rgb(1 173 181 / 10%);
  --primary-light-2: rgb(1 173 181 / 20%);
  --primary-light-4: rgb(1 173 181 / 40%);
  --primary-light-5: rgb(1 173 181 / 50%);
  --primary-light-8: rgb(1 173 181 / 80%);

  --border-color: #dcdfe6;

  --main-color: #3a3f47;
  --sub-color: #01adb5;
  --main-title-color: #333639;
  --button-color: #20a162;
  --focus-color: rgb(58 63 71 / 20%);
  --bg-image: url(http://zhongguose.com/img/texture.png);

  --el-color-primary: var(--primary-color);


  --el-menu-bg-color: transparent;
  --el-menu-hover-bg-color: var(--primary-light-8);

  --el-menu-text-color: var(--aside-text-color);
  --el-menu-active-color: var(--aside-text-color);
}

.el-button--primary {
  --el-button-bg-color: var(--primary-color);

  --el-button-outline-color: var(--primary-light-2);
  --el-button-hover-bg-color: var(--primary-light-8);
  --el-button-active-bg-color: var(--primary-light-8);
}

.el-link.el-link--primary {
  --el-link-hover-text-color: var(--primary-light-8);
}

.el-button {
  --el-button-hover-bg-color: var(--primary-light-4);
  --el-button-hover-border-color: var(--primary-light-4);
}

.el-button--primary {
  --el-button-hover-bg-color: var(--primary-light-8);
}

.el-tag {
  --el-tag-bg-color: var(--primary-light-1);
  --el-tag-border-color: var(--primary-light-4);
}

.el-tag.el-tag--warning {
  --el-tag-bg-color: var(--el-color-warning-light-9);
  --el-tag-border-color: var(--el-color-warning-light-8);
  --el-tag-hover-color: var(--el-color-warning);
}