*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html,
body,
#app {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  background-image: url(http://zhongguose.com/img/texture.png);
  background-color: #f9f9fb;
}

.container {
  height: 100%;
}

.flex {
  display: flex;
}

.icon-btn {
  cursor: pointer;
}

hr {
  margin-bottom: 15px;
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.4), transparent);
  background-color: transparent;
  height: 1px;
  opacity: 0.25;
  border: 0;
}

.form-title {
  font-size: 14px;
  font-weight: normal;
  color: var(--text-dark-color);
  margin: 0 0 8px;
}

img {
  max-width: 100%;
}

a {
  color: #1890ff;
  text-decoration: none;
}