<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.careyq.explore.server.mapper.ResourceMapper">

    <select id="selectAttachmentPage" resultType="com.careyq.explore.server.vo.ResourcePageVO">
        select r.id,
               r.name,
               r.path,
               r.type,
               if(c.cover is null, false, true) isCover
        from resource r
            left join resource_category c on r.id = c.cover
        where r.is_del = 0
        <if test="dto.categoryId != null">
            and r.category_id = #{dto.categoryId}
        </if>
        <if test="dto.type != null and dto.type.length > 0">
            and r.type = #{dto.type}
        </if>
        order by r.create_time desc
    </select>
</mapper>
